#Visual Studio files

*.dll
*.exe
*.exp
*.ilk
*.lib
*.ncb
*.log
*.pdb
*.user
*.suo

[Dd]ebug
[Rr]elease
[Oo]bj

#NuGet
packages
!packages/repositories.config

#NCrunch
_NCrunch_*
*.ncrunchproject
