<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log">

	<targets>
		<target xsi:type="AsyncWrapper"
		        name="asyncWrapper">
			<target xsi:type="File"
			        name="file"
			        layout="${longdate}|${processId}|${threadId}|${level:uppercase=true}|${callsite}|${message}"
			        fileName="${tempdir:dir=Simple.Wpf.Template\\}log.txt"
			        maxArchiveFiles="30"
			        maxArchiveDays="30"
			        archiveNumbering="Date"
			        archiveEvery="Day"
			        archiveDateFormat="yyyy-MM-dd"
			        archiveFileName="${tempdir:dir=Simple.Wpf.Template\\Archives}log.{#}.txt"
			        keepFileOpen="True"
			        concurrentwrites="False" />
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="INFO" writeTo="file" />
	</rules>
</nlog>