<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <extensions>
    <add assembly="Simple.Wpf.Template.Tests"/>
  </extensions>
  <targets>
    <target name="t1" type="TestLog"/>
  </targets>
  <rules>
    <logger name="*" minLevel="Info" appendTo="t1"/>
  </rules>

</nlog>